# Frontend React
# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js
/frontend/package-lock.json

# testing
/frontend/coverage
/frontend/test-results

# production
/frontend/build
/frontend/dist

# misc
.DS_Store
/frontend/.env
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# Backend FastAPI
# Virtual Environment
cars/
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
backend/build/
backend/develop-eggs/
backend/dist/
backend/downloads/
backend/eggs/
backend/.eggs/
backend/lib/
backend/lib64/
backend/parts/
backend/sdist/
backend/var/
backend/wheels/
backend/*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Logs
backend/logs/
*.log

# Unit test / coverage reports
backend/htmlcov/
backend/.tox/
backend/.coverage
backend/.coverage.*
backend/.cache
backend/nosetests.xml
backend/coverage.xml
backend/*.cover
.hypothesis/
.pytest_cache/

# IDE
.idea/
.vscode/
*.swp
*.swo